In [1]:
# imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# this allows plots to appear directly in the notebook
%matplotlib inline

In [2]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

In [3]:
df=pd.DataFrame(data)

In [9]:
# select na
df[df['age'].isnull()]

   age animal priority  visits
3  NaN    dog      yes       3
7  NaN    cat      yes       1

In [13]:
# replace 'priority' with 0 and 1
df.replace(['yes','no'], [1,0])

   age animal  priority  visits
0  2.5    cat         1       1
1  3.0    cat         1       3
2  0.5  snake         0       2
3  NaN    dog         1       3
4  5.0    dog         0       2
5  2.0    cat         0       3
6  4.5  snake         0       1
7  NaN    cat         1       1
8  7.0    dog         0       2
9  3.0    dog         0       1

In [31]:
# merge new random data frame
df.

In [25]:
# replace NaN (2 ways)

df.fillna(0)
df.fillna({bfill})

NameError: name 'bfill' is not defined

In [33]:
# append data (!col)

In [47]:
# select only priority yes

In [49]:
# convert

In [ ]:
# create function return shape and value